{
  "openapi": "3.1.0",
  "info": {
    "title": "CalFlow API",
    "description": "API for CalFlow nutrition tracking app",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://calflow.app/api"
    }
  ],
  "paths": {
    "/meals": {
      "post": {
        "operationId": "log_meal",
        "summary": "Log a meal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": { "type": "string", "description": "YYYY-MM-DD. ALWAYS OMIT this field to use today. NEVER SEND THIS FIELD unless a specific date like 'yesterday' is requested." },
                  "mealType": { "type": "string" },
                  "description": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Success" } }
      },
      "get": {
        "operationId": "get_meals",
        "summary": "Get meals",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "schema": { "type": "string" },
            "description": "YYYY-MM-DD. ALWAYS OMIT this field to use today."
          }
        ],
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/nutrition/today": {
      "get": {
        "operationId": "get_today_summary",
        "summary": "Get today's summary",
        "responses": { "200": { "description": "Success" } }
      }
    },
    "/nutrition/gaps": {
      "get": {
        "operationId": "get_nutrition_gaps",
        "summary": "Get nutrition gaps",
        "responses": { "200": { "description": "Success" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
